.caixa_formulario {

    width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caixa_formulario h1 {
    font-size: 30px;
}

.formulario {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.formulario button {
    margin-top: 10px;
    background: #1C3720;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    width: 120px;
    align-self: center;
}


.formulario span {
    font-size: 20px;
}
#div_result {
  color: rgb(255, 255, 255);  
  font-size: 20px;
}