/* Começo do cabeçalho */
body {
    margin: 0;
    background: #BEC4ED;
    font-family: 'Courier New', Courier, monospace;
}

.header {
    border-bottom: 3px solid #BEC4ED;
    background-color: #1C3720;
    height: 100px;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
}

.container h1 {
    margin: 10px;
    color: #fff;
    border-radius: 10px;
    font-size: 50px;
    align-self: center;
    padding: 0;
    list-style: none;
    display: flex;

}

.header .container {
    justify-content: space-between;
}

li {
    color: #BEC4ED;
    font-weight: 1000;
}

a {
    color: #BEC4ED;
    font-weight: 1000;
    text-decoration: none;
}

.titulo img {
    padding-top: 5px;
    width: 100px;
}

.navBar {
    width: 300px;
    height: auto;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #1C3720;
}

/* Fim do cabeçalho */

/* Começo do Banner */

.inicio {
    font-size: 30px;
    text-align: center;
    width: 97%;
    height: 30px;
    margin: 10px;
    color: #ffffff;
    align-self: center;
    font-family: 'Courier New', Courier, monospace;
}

.banner {
    height: 350px;
    color: #ffffff;
    display: flex;
}

.container {
    display: flex;
    justify-content: space-around;
}

#logo {
    height: 300px;
}

#frase {
    height: 250px;
    padding-top: 25px;
}

.caixa_conteiner {
    width: 96%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.botões {
    width: 90%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.botões a {
    background-color: #1C3720;
    border-radius: 20px;
    height: 50px;
    margin-top: 10px;
    color: #BEC4ED;
    text-align: center;
    padding: 13px;
    font-size: 20px;
}

/* Fim do banner */

/* Começo do Social */
.social {
    background-color: beige;
    display: flex;
}

.box img {
    width: 170px;
}

.social .container .boxes {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.box {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social p {
    text-align: center;
}

/* Final do Social */

/* Começo do Footer */

.footer {
    background-color: #32b9cd;
    height: 50px;
    color: #fff;
    display: flex;
    font-size: 15px;
    width: 100%;
}

.footer .container {
    justify-content: center;
}