/* Começo do cabeçalho */
body {
    margin: 0;
    background-image: url(C:/Users/ritad/OneDrive/Área%20de%20Trabalho/Projeto%20Individual/Souloxy/Site/Identidade%20Visual/Site%20Souloxy.png);
    background-size: 100%;
}   

.header {
    height: 50px;
}

.container {
    width: 80%;
    margin: auto;
    height: 50px;
    display: flex;
}

.container h1 {
    margin: 10px;
    color: #fff;
    border-radius: 10px;
    font-size: 50px;
    align-self: center;
    padding: 0;
    list-style: none;
    display: flex;

}

.header .container {
    justify-content: space-between;
}

li {
    color: #BEC4ED;
    font-weight: 1000;
}

a {
    color: #BEC4ED;
    font-weight: 1000;
    text-decoration: none;
}

.titulo img {
    padding-top: 3px;
    width: 90px;
}

.navBar {
    width: 200px;
    height: auto;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #1C3720;
}


/* Fim do cabeçalho */

/* Começo do Banner */

.inicio {
    font-size: 30px;
    text-align: center;
    width: 97%;
    height: 30px;
    margin: 29px;
    color: #ffffff;
    align-self: center;
    font-family: 'Courier New', Courier, monospace;
}

.banner {
    height: 300px;
    color: #ffffff;
    display: flex;
}

.container {
    display: flex;
    margin-left: 20px;
}

#logo {
    height: 400px;
    margin-top: -90px;
}


.caixa_conteiner {
    width: 600px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin-left: 20%;

}

.b1 {
    height: 300px;
    width: 200px;
    flex-direction: column;
    justify-content: center;
}

.b1 a {
    background-color: #1C3720;
    border-radius: 20px;
    color: #BEC4ED;
    text-align: center;
    padding: 19px;
    font-size: 22px;
}




/* Fim do banner */

/* Final do Social */

/* Começo do Footer */

.footer {
    height: 50px;
    color: #BEC4ED;
    display: flex;
    font-size: 15px;
    width: 100%;
    margin-top: 100px;
    background-color: black;
}

.footer .container {
    justify-content: center;
}